#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form{
  display:flex;
  flex-flow: column wrap;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.userNameDiv{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 70vh;
  width: fit-content;
  padding: 1vw;
  border: 0.1vw solid #808080;
  border-radius: 2vw;
  }

  .userNameElement{
    font-size: 1vw;
    padding: 1vw 1vw;
    transition: 0.3s;
  }

  .userNameElement:hover{
    background-color: #808080;
    color: white;
    cursor: pointer;
  }
.userNameDivParent{
  display: flex;
  align-items: flex-end;
  gap:4vw
}
.displayMsg{
  overflow: auto;
  width: 55vw;
  height: 35vw;
}

.right{
  clear: both;
  float: right;
  text-align: right;
}

.left{
  clear: both;
  float: left;
  text-align: left;
}

.displayMsg>p{
  background-color: #2196f3;
  color: white;
  padding: .5vw 1vw;
  border-radius: .6vw;
  margin:1vw 1vw;
  max-width : 50%
}

.ChatDiv{
  border: 0.1vw solid #808080;
  padding: 1vw 0;
  border-radius: 1vw;
}

.ChatDiv>form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}